<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="/static/logo.png">
    <title>Govno | Tube</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container py-3">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <span class="animation"></span>
    <span class="text-light" style="margin-right: 50px;"> | Govno Tube</span>
 <form method="get" action="/">
    <input type="text" class="form-control" placeholder="Search Video" name="search" style="display:inline-block; width: 250px">
    <button type="submit" class="btn btn-danger" style="display:inline-block">Search</button><br><br>
    </form>

<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 btn btn-primary" href="/addvideo">Add Video</a>
      <a class="me-3 py-2 text-light text-decoration-none btn btn-danger" href="/">Home</a>
      <a class="me-3 py-2 text-light text-decoration-none btn btn-success" href="/register">Register</a>
       {% if name == "Guest" %}
      <a class="me-3 py-2 text-light text-decoration-none btn btn-primary" href="/login">Login</a>
          {% else %}
          <a class="me-3 py-2 text-light text-decoration-none btn btn-primary" href="/login">Login</a>
    <a class="me-3 py-2 text-ligth text-decoration-none btn btn-secondary" href="/profile"><img  class="profile img" src="{{ path }}">{% endif %} {{ name }}</a>

      </nav>
    </div>
    <h1 class="text-secondary">Hello, Administrator {% if path %}<a href="/profile"><img class="img" src="/{{ path }}"></a>{% endif %}{{ name }}</h1>
    <h1 class="text-secondary">Welcome to administration panel</h1><br>
    <h1 class="text-primary">All Videos</h1><br>
    <br>

    <div >
    {% for i in range(length) %}
        <h4 class="text-light">{{i + 1}}.
         <a href="/watch?id={{ videos[i].id }}"><h4>Link to watch video</h4></a>
        </h4> <img src="/{{videos[i].preview_path}}" class="preview"> <h4 class="text-light">Author: {{videos[i].author}}</h4>
        <h4 class="text-light">{{videos[i].title}}</h4>
        <h4 class="text-light">Watches: {{ videos[i].watches }}</h4>
        <h4 class="text-light">Description: {{ videos[i].description }}</h4>
        <a href="/deletevideoadmin?id={{ videos[i].id }}" class="btn btn-danger"><h4>Delete Video</h4></a><br><br>

    {% endfor %}
        </div>
    <br>

</div>
</body>
</html>
