<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Govno | Tube</title>


</head>
<body>
<div class="container py-3">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <span class="animation"></span>
    <span class="text-light" style="margin-right: 50px;"> | Govno Tube</span>
 <form method="get" action="/">
    <input type="text" class="form-control" placeholder="Search Video" name="search" style="display:inline-block; width: 250px">
    <button type="submit" class="btn btn-danger" style="display:inline-block">Search</button><br><br>
    </form>

<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 btn btn-primary" href="/addvideo">Add Video</a>
      <a class="me-3 py-2 text-light text-decoration-none btn btn-danger" href="/">Home</a>
      <a class="me-3 py-2 text-light text-decoration-none btn btn-success" href="/register">Register</a>
       {% if name == "Guest" %}
      <a class="me-3 py-2 text-light text-decoration-none btn btn-primary" href="/login">Login</a>
          {% else %}
          <a class="me-3 py-2 text-light text-decoration-none btn btn-primary" href="/login">Login</a>
    <a class="me-3 py-2 text-ligth text-decoration-none btn btn-secondary" href="/profile"><img  class="profile img" src="{{ path }}">{% endif %} {{ name }}</a>

      </nav>
    </div>
    <div >
     <video width="80%" height="80%" controls="controls" src="{{ video.path }}" poster="{{ video.preview_path }}">
   <source src="{{ video.path }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>

            <div>
    <h2 class="text-light">{{ video.title }}</h2>
<!--                <img class="like" src="/static/like.png"  style="display:inline-block">-->
<!--                <img class="like" src="/static/dislike.png"  style="display:inline-block"> <br>-->
<!--                <p class="text-light like"  style="display:inline-block">50</p>-->
<!--                <p class="text-light like"  style="display:inline-block">50</p>-->

    <h4 class="text-light">Watches: {{ video.watches }}</h4>
    <h4 class="text-light">Author: {{ video.author }}</h4>
        <p class="text-light">Description: {{ video.description }}</p>
        <h4 class="text-light">Date: {{ video.dateR }}</h4><br>
        <a href="{{ video.path }}" download="{{ video.path }}" class="btn btn-success">Download Video</a><br><br>

    <br>
    <br>
    <br>
</div>
    <div class="row row-cols-1 row-cols-md-2">
       <div class="alert alert-secondary comments" >
        <form method="post">
        <textarea class="form-control" name="comment" placeholder="Comment"></textarea><br>

        <button class="btn btn-success"><h4 class="text-light">Send</h4></button><br><br>
        </form>
        </div><br>
        <h1 class="text-primary">Recommendations</h1><br>
       {% if comments %}

        <div class="comments">

        {% for i in comments %}
            <div  class="alert alert-success">
            <h4 >{{ i.author }}: {{ i.text }} </h4>
            <p >Date: {{ i.dateR }}</p>
                </div>
         {% endfor %}
        </div>
    {% endif %}


    <div>
        {% for i in videos %}
        <a href="/watch?id={{ i.id }}"> <img class="r-img" src="{{ i.preview_path }}"></a>
        <p class="text-light">{{ i.title }}</p>
        <p class="text-light">Author: {{ i.author }}</p>
        <p class="text-light">Description: {{ i.description }}</p>
        {% endfor %}
    </div><br>
</div>
    </div>
</div>
</body>
</html>
